.dashboard-title{
    margin-top: 100px;
    text-align: center;
}

.item-title{
    text-align: center;
}

.button-container{
    border-radius: 5px;
    width: 10%;
    display: block;
    margin-left: 90%;
}

a{
    text-decoration: none;
}
.add-inventory-button {
    background-color: #FA824C;
    border: none;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #FAFFFD;
  }

.item-card{
    background-color: #342E37;
    color: #FAFFFD;
    border-radius: 5px;
    padding: 20px;
    width: 66.7%;
    margin: 25px auto 25px auto;
    display: block;
}

  .update-button, .delete-button {
    background-color: #FA824C;
    border: none;
    padding: 10px;
    margin: 15px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #FAFFFD;
  }

  @media only screen and (max-width: 480px){
    .item-card {
        width: 80%;
        margin: 10px auto auto auto;
    }
    .button-container {
        width: 100%;
        margin: auto;
    }
    .add-inventory-button {
        width: 90%;
    }

  }


