.hero-section {
    background: url('hero-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 99vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  .hero-section h1 {
      color: black;
      font-size: 80px;
  }

.hero-text {
    font-size: 20px;
}

@media only screen and (max-width: 950px) {
    .hero-section {
        width: 100%;
    }
}