.information {
  display: flex;
  width: 100%;
	clear: both;
  padding: 0px;
  text-align: center;
}

.col-3 {
  width: 33.3%;
  flex: 1;
  display: block;
  box-sizing: border-box;
	float:left;
  padding: 25px;

}

.infoIcon {
  width: 200px;
  text-align: center;
}
.col:first-child { margin-left: 1; }

.table:before,
.table:after { content:""; display:table; }
.table:after { clear:both;}


@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.left, .middle, .right { width: 100%; }
}

@media only screen and (max-width: 950px) {
	.col {  margin: 1% 0 1% 0%; }
	.left, .middle, .right { width: 100%; }
}