.add-inventory-form{
    background-color: #342E37;
    color: #FAFFFD;
    border-radius: 5px;
    padding: 20px;
    width: 33.3%;
    margin: 125px auto 25px auto;
    display: block;
  }
  .add-item-form-button {
    background-color: #FA824C;
    border: none;
    padding: 10px;
    margin: auto;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #777;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    color: #FAFFFD;
  }
  input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .add-radio-buttons {
    display: inline-flex;
  }

  .radiobutton {
    padding: 15px;
  }

  @media only screen and (max-width: 480px) {
    .add-inventory-form {
      width: 80%;
    }
  }