.hero-section {
/*    background: url('assets/boxes.jpg');
*/    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  .hero-section h1 {
      color: black;
      font-size: 80px;
  }

@media only screen and (max-width: 950px) {
    .hero-section {
        width: 100%;
    }
}

.information {
  display: flex;
  width: 100%;
	clear: both;
  padding: 0px;
  text-align: center;
}

.col-3 {
  width: 33.3%;
  display: flex;
  flex: 1;
  display: block;
  box-sizing: border-box;
	float:left;
  padding: 25px;

}

.infoIcon {
  width: 33.3%;
  text-align: center;
}
.col:first-child { margin-left: 1; }

.table:before,
.table:after { content:""; display:table; }
.table:after { clear:both;}


@media only screen and (max-width: 480px) {
	.col {  
    margin: 1% 0 1% 0%; 
  }
	.left, .middle, .right{
    width: 100%; 
  }
  .infoIcon {
  width: 100%%;
  display: block;
  text-align: center;
}
}

@media only screen and (max-width: 950px) {
	.col {  margin: 1% 0 1% 0%; }
	.left, .middle, .right { width: 100%; }
}