nav{
  position: fixed;
  color: white;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #232323;
}
.navbar h1{
  margin-left: 10px;
  width: 80%;
  display: inline-flex;
  white-space: nowrap;
}
.navLink{
display: inline-block;
padding-right: 10px;

}
.navbar ul {
  float:right;
}