/*.container{
	  background-color: rgb(179, 179, 179, .75);
    border-radius: 5px;
    padding: 20px;
    width:25%;
    margin: 120px auto 50px auto;
  }
  .itembtn {
    width: 100%;
    background-color: #241b1f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
  }
  input[type=text],[type=password], [type=username] [type=radio] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }*/

    .registration-form {
    border-radius: 1px solid black;
    position: fixed;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    top: 75px;
    right: 0;
    height: auto;
    background-color: white;
    padding: 40px;
    margin-left: auto;
    margin-right: auto;
}